

# dependencies
Services/LearningVideoStorageApi/node_modules
Services/LearningVideoStorageApi/uploads
Services/LearningVideoStorageApi/.yarn


#misc
.vs
.vscode


Clients/LearningChineseVideo/node_modules

Services/LearningVideoApi/.vs
Services/LearningVideoApi/bin/*
Services/LearningVideoApi/[Dd]ebug/
Services/LearningVideoApi/[Dd]ebugPublic/
Services/LearningVideoApi/[Rr]elease/
Services/LearningVideoApi/[Rr]eleases/

Services/LearningVideoApi/x64/
Services/LearningVideoApi/x86/
Services/LearningVideoApi/build/
Services/LearningVideoApi/bld/

Services/LearningVideoApi/bin/*
Services/LearningVideoApi/obj/*
.yarnrc.yml
.yarnrc
.yarn